In [1]:
l1={'Jan':2200,
    'Feb':2350,
    'Mar':2600,
    'Apr':2130,
    'May':2190}

In [2]:
l1

{'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 2130, 'May': 2190}

In [3]:
l1['Jan']-l1['Feb']

-150

In [4]:
l1['Jan']+l1['Feb']+l1['Mar']

7150

In [5]:
for values in l1:
    if values==2000:
        print('yes')
    else:
        print('no')

no
no
no
no
no

In [6]:
l1.keys()

dict_keys(['Jan', 'Feb', 'Mar', 'Apr', 'May'])

In [7]:
l1.values()

dict_values([2200, 2350, 2600, 2130, 2190])

In [8]:
for values in l1.values():
    if values==2000:
        print('value is present')
    else:
        print('value is not present')

value is not present
value is not present
value is not present
value is not present
value is not present

In [9]:
l1.update({'Jun':1980})

In [10]:
l1

{'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 2130, 'May': 2190, 'Jun': 1980}

In [11]:
l1['Apr']+200

2330

In [12]:
l1['Apr']=l1['Apr']-200

In [13]:
l1

{'Jan': 2200, 'Feb': 2350, 'Mar': 2600, 'Apr': 1930, 'May': 2190, 'Jun': 1980}

In [14]:
heros=['spider man','thor','hulk','iron man','captain america']

In [15]:
len(heros)

5

In [16]:
heros.append('black panther')

In [17]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [18]:
heros.remove('black panther')

In [19]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [20]:
heros.insert(3,'black panther')

In [21]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [22]:
heros[1:3]=['doctor strange']

In [23]:
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [24]:
heros.sort()

In [25]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [28]:
n=int(input('Enter number: '))
l=[]
for i in range(1,n+1):
    if i%2!=0:
        l.append(i)
print(l)

Enter number: 20
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
print(l)

[1, 3, 5]

In [29]:
max = int(input("Enter max number: "))

odd_numbers = []

for i in range(1, max):
    if i % 2 == 1:
        odd_numbers.append(i)

print("Odd numbers: ", odd_numbers)

Enter max number: 20
Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [32]:
class MyCounter:
    def set_count(self,n):
        self.count=n
mc=MyCounter()
mc.set_count(5)
print(mc.count*8)

40

In [41]:
# Include a set_name method
class Employee:
  
  def set_name(self, new_name,salary):
    self.new_name = new_name
    self.salary=salary
  
# Create an object emp of class Employee  
emp = Employee()

# Use set_name() on emp to set the name of emp to 'Korel Rossi'
emp.set_name('Korel Rossi','2000')

# Print the name of emp
print(emp.new_name)
print(emp.salary)

Korel Rossi
2000

In [47]:
class Counter:
    def __init__(self,count,name):
        self.count=5
        self.name=name
c=Counter(0,'My Counter')
print(c.count)
print(c.name)

5
My Counter

In [49]:
(3**2 + 4**2)**(1/2)

5.0

In [57]:
class Point:
    x=0
    y=0
    def __init__(self,x=0.0,y=0.0):
        self.x=x
        self.y=y
    def distance_to_origin(self):
        return ((self.x)**2 + (self.y)**2)**(1/2)
    def reflect(self,axis):
        if axis=="x":
            self.y=-self.y
        elif axis=="y":
            self.x=-self.x
        else:
            print("error")

pt=Point(x=3.0)
pt.reflect("y")
print((pt.x,pt.y))
pt.y=4.0
print(pt.distance_to_origin())

(-3.0, 0.0)
5.0

In [60]:
class BetterDate:
    def __init__(self,year,month,day):
        self.year,self.month,self.day=year,month,day
    @classmethod
    def from_str(self,datestr):
        parts=datestr.split('-')
        year,month,day=int(parts[0]),int([parts[1]]),int(parts[2])
        return cls(year,month,day)
bd=BetterDate()
bd.from_str('2020-04-30')
print(bd.year)
print(bd.month)
print(bd.day)

TypeError: BetterDate.__init__() missing 3 required positional arguments: 'year', 'month', and 'day'

In [66]:
class BetterDate:
    def __init__(self,year,month,day):
        self.year,self.month,self.day=year,month,day
    @classmethod
    def from_str(cls,datestr):
        parts=datestr.split('-')
        year,month,day=int(parts[0]),int(parts[1]),int(parts[2])
        return cls(year,month,day)
bd=BetterDate.from_str('2020-04-30')
print(bd.year)
print(bd.month)
print(bd.day)
bd1=BetterDate(2023,8,3)
print(' ')
print(bd1.year)
print(bd1.month)
print(bd1.day)

2020
4
30

2023
8
3